{#
	Language will be used as ab_variant shortcut
	tracking callback is our own patched callback
  
	Integration note:
  
	window.emos3 = {
	  stored: [],
	  send: function(p){this.stored.push(p);}
	};

	This script tag must be moved to the head tag so
	that onclick events can already use the send method.
#}